<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @board_agenda_item.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @board_agenda_item.status %>
</p>

<p>
  <strong>Position:</strong>
  <%= @board_agenda_item.position %>
</p>

<p>
  <strong>Board:</strong>
  <%= @board_agenda_item.board_id %>
</p>

<%= link_to 'Edit', edit_board_agenda_item_path(@board_agenda_item) %> |
<%= link_to 'Back', board_agenda_items_path %>
